customtkinter
faster-whisper
numpy
openai
pillow
pyinstaller
pynput
pyperclip
pystray
rumps>=0.4.0; platform_system == "Darwin"
python-dotenv
pytest
scipy
sounddevice
pyobjc-framework-ApplicationServices>=10.0; platform_system == "Darwin"
pyobjc-framework-Cocoa>=10.0; platform_system == "Darwin"
